<h1><%= @restaurant.name %></h1>

<ul>
<li>Address: <%= @restaurant.address %></li>
<li>Phone number: <%= @restaurant.phone_number %></li>
<li>Category: <%= @restaurant.category %></li>
</ul>

<br>
<h4>Reviews:</h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>  ||  <%= review.rating %>/5</li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path, class: "btn btn-primary footbtn" %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-primary footbtn" %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary footbtn" %>
